body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #a8a6a6;
}

header {
    background: #a5becd;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

h1 {
    margin: 0;
}

p {
    margin: 10px 0;
}

.cta-button {
    background: #e8491d;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

form {
    max-width: 400px;
    margin: 20px auto;
    background: #35424a;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #e8491d;
}